/* DEWOH SPECIFIC ELEMENTS */

#dewoh-btn{
    padding: 10px 30px;
    text-transform: uppercase;
}
#dewoh-region {
    padding: 10px 10px;
    text-transform: uppercase;
}

#dewoh-btn,
#dewoh-region {
    color: #CDBE91;
    background-color: #1E2328;
    border: 2px solid #A27D30;
}

#dewoh-btn:hover {
    box-shadow: 0px 0px 3px #CCA34C;
}

#dewoh-btn:hover,
#dewoh-region:hover {
    color: #F0E6D2;
    background-color: #2D2F2F;
    border-color: #CCA34C;

    cursor: pointer;
}
#dewoh-btn:active {
    color: #785A28;
    background-color: #1E2328;
    border-color: #5A441D;
}

#dewoh-region option {
  background-color: #010A13;
}
#dewoh-region option:checked {
  background-color: #1E2328;
}

#summoner-metadata {
    justify-content: space-around;
}
#summoner-metadata h2 {
    margin: 0;
}
#summoner-metadata p {
    margin: 0;
}

#summoner-metadata img {
    width: 100px;
    margin: 20px;
    box-shadow: 0px 0px 5px black;
}

#overall {
    margin-bottom: 50px;
}

#match-history {
    justify-content: center;
}

#match-history .match {
    margin: 5px;
    padding: 5px;

    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 50%;
}
#match-history .win  { background-color: lightblue;  }
#match-history .loss { background-color: lightcoral; }
#match-history .match img {
    width: 2em;
    /* IS THIS UNIT CORRECT ^^^ */
    margin: 5px;
}