/* DEWOH SPECIFIC ELEMENTS */

/* DEWOH */

#match-history {
    justify-content: flex-start;
    text-align: center;
}

#match-history .match {
    margin: 5px;
    padding: 5px;

    background-color: lightgrey;
    width: 20%;
}
#match-history .win  { background-color: lightblue;  }
#match-history .loss { background-color: lightcoral; }

#summoner-metadata {
    justify-content: space-around;
}
#summoner-metadata h2 {
    margin: 0;
}
#summoner-metadata p {
    margin: 0;
}

#summoner-metadata img {
    width: 100px;
    margin: 20px;
    box-shadow: 0px 0px 5px black;
}

#overall {
    margin-bottom: 50px;
}