@font-face {
  font-family: "BeaufortForLol";
  src: url("./assets//fonts//BeaufortForLoL-OTF/BeaufortforLOL-Heavy.otf");
}

@font-face {
  font-family: "Spiegel";
  src: url("./assets//fonts//Spiegel-OTF//Spiegel-Regular.otf");
}

body {
  margin: 0;
  font-family: Spiegel, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
