$BLUE_1: #CDFAFA;
$BLUE_2: #0AC8B9;
$BLUE_3: #0397AB;
$BLUE_4: #005A82;
$BLUE_5: #0A323C;
$BLUE_6: #091428;
$BLUE_7: #0A1428;

$GOLD_1: #F0E6D2;
$GOLD_2: #C8AA6E;
$GOLD_3: #C8AA6E;
$GOLD_4: #C89B3C;
$GOLD_5: #785A28;
$GOLD_6: #463714;
$GOLD_7: #32281E;

$GREY_1: #A09B8C;
$GREY_2: #5B5A56;
$GREY_3: #3C3C41;
$GREY_4: #1E2328;
$GREY_COOL: #1E282D;
$HEXTECH_BLACK: #010A13;
